<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="product-category">
        {% for block in section.blocks %}
            <div class="category-block">
                <img src="{{  }}" alt="category image" width="" height="">
                <p class="category-name">{{  }}</p>
            </div>
        {% endfor %}
    </section>
</body>
</html>