* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--black);
}
:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Merriweather", serif;
  --primary-color: #8bc34a;
  --primary-hover-color: #6a9739;
  --black: #111111;
  --light-black: #333333;
  --white: #ffffff;
  --gloden: #ffbb1e;
  --gray-bg: #f8f6f3;
  --graydark: #777777;
  --graylight: #dddddd;
}
html {
  font-size: 10px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--light-black);
}
ul, ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a, button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}
.or-container {
  max-width: 1240px;
  padding-inline: 20px;
}
.main-btn {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.3rem 3.4rem;
  border-radius: 0.5rem;
  color: var(--white);
  text-transform: capitalize;
  background: var(--primary-color);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.main-btn i {
  vertical-align: middle;
  color: var(--white);
}
.main-btn:hover {
  background: var(--primary-hover-color);
  color: var(--white);
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-inline: 2rem;
  text-transform: capitalize;
  color: var(--light-black);
  font-size: 1.6rem;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}
header {
  position: relative;
  z-index: 1;
}
.header-options .money span {
  font-size: 1.6rem;
  line-height: 4.3rem;
  font-weight: 600;
  color: var(--primary-color);
}
.header-options .cart {
  position: relative;
}
.header-options .cart .icon i {
  font-size: 1.6rem;
  color: var(--primary-color);
}
.header-options .cart .badge {
  position: absolute;
  top: -1.2rem;
  right: -0.6rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--primary-color);
  color: var(--black);
  display: grid;
  place-content: center;
  border-radius: 50px;
  font-size: 1rem;
}
.header-options .user i {
  font-size: 1.6rem;
  color: var(--black);
}
.section-heading {
  text-align: center;
  margin-block-end: 6rem;
}
.section-heading h2 {
  font-size: clamp(2rem, 3vw, 3.4rem);
  line-height: 4.4rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--black);
  margin-block-end: 2rem;
}
.hero-banner {
  padding-block: 12rem;
  background-color: var(--gray-bg);
  position: relative;
}
.hero-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/leaves-free-bg.png");
  background-repeat: no-repeat;
  background-size: 28%;
  background-position: bottom right;
  z-index: 0;
  opacity: 0.2;
}
.hero-banner .icon {
  margin-block-end: 2rem;
}
.hero-banner .hero-content {
  padding-inline-start: 8rem;
}
.hero-banner span.subtitle {
  font-size: clamp(16px, 2vw, 18px);
  line-height: 2rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--black);
  margin-block-end: 2rem;
  display: inline-block;
}
.hero-banner h1 {
  font-size: clamp(25px, 5vw, 52px);
  line-height: 7.2rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--black);
  margin-block-end: 2rem;
}
.hero-banner p {
  font-size: 16px;
  line-height: 2.6rem;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--light-black);
  margin-block-end: 2rem;
}
.our-servives {
  padding-block: 3.5rem 3rem;
  background-color: var(--black);
}
.our-servives .servives-block {
  background: var(--light-black);
  padding: 3.5rem 2.5rem;
  margin-block: 1rem;
  display: flex;
  align-items: self-start;
  gap: 1.5rem;
}
.our-servives .servives-block .icon i {
  color: var(--primary-color);
  font-size: 2.4rem;
}
.our-servives .servives-block h2 {
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--white);
  font-family: var(--secondary-font);
  margin-block-end: 0.3rem;
}
.our-servives .servives-block p {
  color: var(--white);
}
.slick-slide {
  margin: 0 10px;
  /* 10px gap left & right */
}
.slick-list {
  margin: 0 -10px;
  /* remove extra space on the edges */
}
.item a {
  display: inline-block;
}
.item .content {
  text-align: center;
  padding-block-start: 0.6rem;
}
.item .content .category {
  padding: 0;
  background-color: var(--white);
  margin-block-end: 0.6rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: var(--light-black);
}
.item .content h3 a {
  font-size: 1.6rem;
  display: inline-blocks;
  font-weight: 700;
  line-height: 2rem;
  color: var(--black);
  font-family: var(--secondary-font);
  margin-block-end: 0.8rem;
}
.item .content .rating {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-block-end: 0.8rem;
}
.item .content .rating i {
  font-size: 1.4rem;
}
.item .content .price {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 700;
}
.best-selling, .treding-product {
  padding-block: 14rem 10rem;
}
.category {
  padding-block: 100px;
  background-color: var(--gray-bg);
  position: relative;
}
.category .top-image img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-8.1rem, -50%);
}
.category .category-block {
  background-color: var(--white);
  padding-inline: 4rem;
  padding-block: 4rem 16rem;
  position: relative;
  box-shadow: 0 0 10px #b0b4b72b;
  border-radius: 5px;
  overflow: hidden;
}
.category .category-block::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  z-index: 0;
}
.category .category-block.fruits::before {
  background-image: url("../images/cate1.jpg");
}
.category .category-block.vegetables::before {
  background-image: url("../images/cate2.jpg");
}
.category .category-block.legume::before {
  background-image: url("../images/cate3.jpg");
}
.category .category-block .content {
  position: relative;
  z-index: 1;
}
.category .category-block h2 {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  line-height: 3.2rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--black);
  margin-block-end: 0.5rem;
}
.category .category-block p {
  margin-block-end: 2rem;
}
.offer .top-offer {
  padding-block: 6rem;
  background-color: var(--black);
}
.offer .top-offer h2 {
  font-size: clamp(2rem, 3vw, 3.4rem);
  line-height: 4.4rem;
  color: var(--white);
  font-family: var(--secondary-font);
}
.offer .bottom-offer {
  text-align: center;
  padding: 3em;
  background-color: var(--gray-bg);
  position: relative;
}
.offer .bottom-offer::before {
  content: '';
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2rem 1.8rem 0 1.8rem;
  border-color: #111111 transparent transparent transparent;
  transform: rotate(0deg);
}
.offer .bottom-offer h2 {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  line-height: 3rem;
  color: var(--black);
  font-family: var(--secondary-font);
}
.testimonial {
  padding-block: 12rem;
  background: linear-gradient(180deg, #ffffff, #f8f6f3);
  position: relative;
}
.testimonial::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/logo-leaf2-free-img.png");
  background-repeat: no-repeat;
  background-size: 37% auto;
  background-position: top left;
  opacity: 0.1;
}
.testimonial .section-heading {
  position: relative;
  z-index: 2;
}
.testimonial .testimonial-wrapper {
  text-align: center;
}
.testimonial .testimonial-wrapper .testimonial-block {
  margin-inline: 1rem;
}
.testimonial .testimonial-wrapper .testimonial-block:not(.center-card) {
  padding-block: 5rem;
  padding-inline: 4.5rem;
  margin-block-start: 10rem;
  background-color: var(--white);
  box-shadow: 0 0 10px #b0b4b72b;
}
.testimonial .testimonial-wrapper .testimonial-block:not(.center-card) ul {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  align-items: center;
}
.testimonial .testimonial-wrapper .testimonial-block:not(.center-card) ul i {
  font-size: 1.4rem;
  color: var(--gloden);
}
.testimonial .testimonial-wrapper .testimonial-block:not(.center-card) p {
  margin-block: 2rem;
}
.testimonial .testimonial-wrapper .testimonial-block:not(.center-card) .user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.testimonial .testimonial-wrapper .testimonial-block:not(.center-card) .user-wrapper .user-details {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--black);
}
.testimonial .testimonial-wrapper .testimonial-block.center-card {
  position: relative;
  padding: 4.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 10px #b0b4b72b;
}
.testimonial .testimonial-wrapper .testimonial-block.center-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("../images/testimonial-center-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.testimonial .testimonial-wrapper .testimonial-block.center-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--black);
  z-index: 0;
  opacity: 0.5;
  transition: 0.3s all ease;
}
.testimonial .testimonial-wrapper .testimonial-block.center-card:hover::after {
  opacity: 0.7;
}
.testimonial .testimonial-wrapper .testimonial-block.center-card .content {
  position: relative;
  z-index: 2;
}
.testimonial .testimonial-wrapper .testimonial-block.center-card .content h2 {
  font-size: clamp(2rem, 3vw, 3.4rem);
  line-height: 4.4rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--white);
  margin-block-end: 1.8rem;
}
.testimonial .testimonial-wrapper .testimonial-block.center-card .content p {
  color: var(--white);
}
.testimonial .testimonial-wrapper .testimonial-block.center-card .content a.main-btn {
  margin-block-start: 10rem;
  margin-block-end: 1.2rem;
}
.brand {
  padding-block-end: 4rem;
  background-color: var(--gray-bg);
}
.brand .brand-wrapper h2 {
  font-size: clamp(1.8rem, 2vw, 2rem);
  line-height: 2.4rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--black);
  text-transform: capitalize;
  white-space: nowrap;
}
.brand .brand-wrapper ul li:not(:last-child) {
  margin-inline: 40px;
}
footer {
  background-color: var(--black);
}
footer .top-footer {
  padding-block: 7.5rem;
  border-bottom: 1px solid #7d7d7d45;
}
footer .top-footer .footer-block .footer-logo {
  margin-block-end: 2.8rem;
}
footer .top-footer .footer-block address {
  color: var(--white);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  font-style: italic;
}
footer .top-footer .footer-block h2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 600;
  color: var(--white);
  margin-block-end: 1.6rem;
  font-family: var(--secondary-font);
  text-transform: capitalize;
}
footer .top-footer .footer-block ul li {
  margin-block-end: 0.5rem;
}
footer .top-footer .footer-block ul li a {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--gray-bg);
  opacity: 0.5;
  text-transform: capitalize;
}
footer .top-footer .footer-block ul li a:hover {
  opacity: 1;
}
footer .bottom-footer {
  padding-block: 3rem;
}
footer .bottom-footer p {
  color: var(--white);
}
footer .bottom-footer ul.footer-social li a {
  display: inline-block;
}
footer .bottom-footer ul.footer-social li a i {
  color: var(--white);
  font-size: 1.6rem;
  transition: 0.3s all ease;
}
footer .bottom-footer ul.footer-social li a:hover i {
  color: var(--primary-color);
}


/* ABOUT US CSS */
header.tr-header .navbar {
  background: transparent !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.hero-section {
  background-color: var(--gray-bg);
  display: grid;
  place-content: center;
  padding-block: 15rem 12rem;
}
.hero-section h1 {
  font-size: clamp(2.5rem, 5vw, 5.2rem);
  line-height: 7.2rem;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.top-image img.img-fluid {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-8.1rem, -50%);
}
.image-wth-text {
  position: relative;
  padding-block: 12rem;
}
.image-wth-text .content h2 {
  font-size: clamp(1.8rem, 3vw, 3.4rem);
  line-height: 4.4rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--black);
  margin-block-end: 1rem;
}
.achievement {
  padding-block: 4rem;
  background-color: var(--black);
}
.achievement h3 {
  font-size: clamp(1.8rem, 2vw, 2rem);
  line-height: 2.4rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--white);
}
.achievement .achievement-block {
  text-align: center;
}
.achievement .achievement-block .number {
  font-size: clamp(2rem, 5vw, 4.6rem);
  line-height: 4.6rem;
  font-weight: 600;
  color: var(--white);
  display: inline-block;
}
.achievement .achievement-block .number span {
  color: var(--white);
}
.achievement .achievement-block p {
  font-size: clamp(1.6rem, 2vw, 2rem);
  line-height: 4.8rem;
  color: var(--white);
}
.certified-products {
  padding-block: 18rem 14rem;
}
.certified-products .certified-products-slider-wrapper {
  padding: 0 4rem 4rem;
  background-color: var(--gray-bg);
}
.certified-products .certified-products-slider-wrapper .certified-products-slider {
  transform: translateY(-8rem);
}
.certified-products .certified-products-slider-wrapper .certified-products-slider img {
  border-radius: 0.8rem;
}
.certified-products .certified-products-slider-wrapper .rating {
  margin-block-end: 2rem;
}
.certified-products .certified-products-slider-wrapper .rating li i {
  color: var(--gloden);
  font-size: 1.4rem;
}
.certified-products .certified-products-slider-wrapper .user-info {
  margin-block-start: 2rem;
}
.certified-products .certified-products-slider-wrapper .user-info span {
  font-size: 1.6rem;
  color: var(--black);
}
.certified-products .certified-products-content {
  padding-inline-start: 10rem;
}
.certified-products .content h3 {
  font-size: clamp(1.8rem, 2vw, 2.4rem);
  line-height: 3.2rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  margin-block-end: 1.6rem;
  color: var(--black);
}
.certified-products h2 {
  font-size: clamp(2rem, 4vw, 3.4rem);
  line-height: 4.4rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  margin-block-end: 1rem;
  color: var(--black);
}
.certified-products .leaf-img {
  margin-block-end: 1.6rem;
}
.certified-products ul.certified-products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-block-end: 3.8rem;
}
.certified-products ul.certified-products-list li {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: var(--black);
}
.certified-products ul.certified-products-list li i {
  color: var(--primary-color);
  margin-right: 1rem;
  width: 1.6rem;
}
/* EVERYTHING CSS */
.product-grid {
  padding-block-start: 6rem;
  background-color: var(--gray-bg);
}
.product-grid .product-grid-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-grid .filter-area {
    /* margin-inline-end: 6rem; */
    padding-inline-end: 6rem;
    border-inline-end: 0.1rem solid var(--graylight);
}
.product-grid .product-grid-area {
  padding-block-end: 6rem;
  margin-block-end: 4rem;
  padding-inline-start: 6rem;
}
.product-grid .product-grid-area .breadcrumb {
  margin-block-end: 1.6rem;
}
.product-grid .product-grid-area .breadcrumb li, .product-grid .product-grid-area .breadcrumb a {
  font-size: 1.4rem;
  color: var(--graydark);
  text-transform: capitalize;
}
.product-grid .product-grid-area .breadcrumb span {
  display: inline-block;
  padding-inline: 0.8rem;
  font-size: 1.4rem;
}
h1.page-title {
  font-size: 5.2rem;
  line-height: 7.2rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  margin-block-end: 5.2rem;
}
.grid-filter {
  margin-block-end: 4rem;
}
.grid-filter .show-items {
  font-size: 1.6rem;
  color: var(--light-black);
  font-weight: 400;
  line-height: 1.6rem;
}
.grid-filter .shorting select {
  font-size: 1.6rem;
  color: var(--light-black);
  font-weight: 400;
  line-height: 1.6rem;
  border: none;
  background-color: transparent;
}
.grid-filter .shorting select:focus-visible {
  outline: none;
}
.product-grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;
}
.product-grid-items .item .content .category {
  background-color: var(--gray-bg);
}
ul.pagination {
  margin-block-start: 6rem;
}
ul.pagination li a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border: 0.01rem solid var(--primary-color);
  font-size: 1.6rem;
  align-content: center;
  text-align: center;
  color: var(--primary-color);
  margin-inline-end: 0.8rem;
}
ul.pagination li a i {
  color: var(--primary-color);
}
ul.pagination li:last-child a {
  margin-inline-end: 0;
}
ul.pagination li:hover a {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}
ul.pagination li:hover a i {
  color: var(--white);
}
ul.product-category {
  margin-block: 4rem;
}
ul.product-category li {
  margin-block-end: 1rem;
}
ul.product-category li a {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--primary-color);
}
.filter-block form .field input {
  padding-block: 0.9rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.filter-block form .field .main-btn {
  padding: 12px 5px;
  border: 1px solid var(--primary-color);
}
.filter-block .product-block {
  margin-block-end: 3rem;
}
.filter-block .product-block .img-box {
  margin-block-end: 2rem;
}
.filter-block .product-block .content a {
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--primary-color);
  margin-block-end: 0.8rem;
}
.filter-block .product-block .content a:hover {
  color: var(--primary-hover-color);
}
.filter-block .product-block .content .price {
  font-size: 1.6rem;
  line-height: 1.2;
  color: var(--light-black);
}
.filter-block .product-block:last-child {
  margin-block-end: 0;
}
