* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: var(--black);
}

:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Merriweather", serif;
    --primary-color: #8bc34a;
    --primary-hover-color: #6a9739;
    --black : #111111;
    --light-black : #333333;
    --white : #ffffff;
    --gloden : #ffbb1e;
    --gray-bg: #f8f6f3;
    
}

html {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: var(--light-black);
} 
ul, ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.or-container {
    max-width: 1240px;
    padding-inline: 20px;
}

.main-btn{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.3rem 3.4rem;
    border-radius: 0.5rem;
    color: var(--white);
    text-transform: capitalize;
    background: var(--primary-color);
    display: inline-flex;
    align-items: center;
    gap: 10px;
     i {
        vertical-align: middle;
        color: var(--white);
     }
        &:hover {
            background: var(--primary-hover-color);
            color: var(--white);
        }
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-inline:2rem;
    text-transform: capitalize;
    color: var(--light-black);
    font-size: 1.6rem;
    &:hover {
        color: var(--primary-color);
    }
}
header {
    position: relative;
    z-index: 1;
}
.header-options {
    .money span {
        font-size: 1.6rem;
        line-height: 4.3rem;
        font-weight: 600;
        color: var(--primary-color);
    }
    .cart {
        position: relative;
        .icon {
            i {
                font-size: 1.6rem;
                color: var(--primary-color);
            }
        }
        .badge {
            position: absolute;
            top: -1.2rem;
            right: -0.6rem;
            width: 1.6rem;
            height: 1.6rem;
            background-color: var(--primary-color);
            color: var(--black);
            display: grid;
            place-content: center;
            border-radius: 50px;
            font-size: 1rem;
        }    
    } 
    .user {
        i {
            font-size: 1.6rem;
            color: var(--black);
        }
    }
} 

.section-heading {
    text-align: center;
    margin-block-end: 6rem;
    h2 {
        font-size: clamp(2rem, 3vw, 3.4rem);
        line-height: 4.4rem;
        font-weight: 700;
        font-family: var(--secondary-font);
        color: var(--black);
        margin-block-end: 2rem;
    }
}

.hero-banner {
    padding-block: 12rem;
    background-color: var(--gray-bg);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../images/leaves-free-bg.png");
        background-repeat: no-repeat;
        background-size: 28%;
        background-position: bottom right;
        z-index: 0;
        opacity: 0.2;
    }
     .icon {
        margin-block-end: 2rem;
    }
    .hero-content {
        padding-inline-start: 8rem;
    }
    span.subtitle {
        font-size: clamp(16px, 2vw, 18px);
        line-height: 2rem;
        font-weight: 700;
        font-family: var(--secondary-font);
        color: var(--black);
        margin-block-end: 2rem;
        display: inline-block;
    }
    h1 {
        font-size: clamp(25px, 5vw, 52px);
        line-height: 7.2rem;
        font-weight: 700;
        font-family: var(--secondary-font);
        color: var(--black);
        margin-block-end: 2rem;;
    }
    p{
        font-size: 16px;
        line-height: 2.6rem;
        font-weight: 400;
        font-family: var(--primary-font);
        color: var(--light-black);
        margin-block-end: 2rem;
    }
    
}

.our-servives {
    padding-block: 3.5rem 3rem;
    background-color: var(--black);
    .servives-block {
        background: var(--light-black);
        padding: 3.5rem 2.5rem;
        margin-block: 1rem;
        display: flex;
        align-items: self-start;
        gap: 1.5rem;
        .icon {
            i {
                color: var(--primary-color);
                font-size: 2.4rem;
            }
        }
        h2 {
            font-size: clamp(1.6rem, 2vw, 2rem);
            font-weight: 700;
            line-height: 2.4rem;
            color: var(--white);
            font-family: var(--secondary-font);
            margin-block-end: 0.3rem;
        }
        p {
            color: var(--white);
        }
    }
}


.slick-slide {
  margin: 0 10px; /* 10px gap left & right */
}

.slick-list {
  margin: 0 -10px; /* remove extra space on the edges */
}
.best-selling, .treding-product {
    padding-block: 14rem 10rem;
    .content {
        text-align: center;
        padding-block-start: 0.6rem;
        .category {
            padding: 0;
            background-color: var(--white);
            margin-block-end: 0.6rem ;
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: 400;
            color: var(--light-black);
        }
        h3 {
            a {
                font-size: 1.6rem;
                display: inline-blocks;
                font-weight: 700;
                line-height: 2rem;
                color: var(--black);
                font-family: var(--secondary-font);
                margin-block-end: 0.8rem;
            }
        }
        .rating {
            display: flex;
            justify-content: center;
            gap: 0.2rem;
            margin-block-end: 0.8rem;
            li {
                i {
                    font-size: 1.4rem;
                }
            }
        }
        .price {
            font-size: 1.4rem;
            line-height: 1.9rem;
            font-weight: 700;
        }
    }
}
.category {
  padding-block: 100px;
  background-color: var(--gray-bg);
  position: relative;
  .top-image img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-8.1rem, -50%);
    }
}

.category .category-block {
  background-color: var(--white);
  padding-inline: 4rem;
  padding-block: 4rem 16rem;
  position: relative; box-shadow: 0 0 10px #b0b4b72b;
  border-radius: 5px;
  overflow: hidden;
}


.category .category-block::before {
  content: ""; 
  position: absolute;
  inset: 0; 
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  z-index: 0;
}
.category .category-block.fruits::before {
  background-image: url("../images/cate1.jpg");
}
.category .category-block.vegetables::before {
  background-image: url("../images/cate2.jpg");
}
.category .category-block.legume::before {
  background-image: url("../images/cate3.jpg");
}
.category .category-block .content {
    position: relative;
    z-index: 1;
}

.category .category-block h2 {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  line-height: 3.2rem;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--black);
  margin-block-end: 0.5rem;
}

.category .category-block p {
  margin-block-end: 2rem;
}

.offer {
    .top-offer {
        padding-block: 6rem;
        background-color: var(--black);
        h2 {
            font-size: clamp(2rem, 3vw, 3.4rem);
            line-height:4.4rem;
            color: var(--white);
            font-family: var(--secondary-font);
        }
    }
    .bottom-offer {
        text-align: center;
        padding: 3em;
        background-color: var(--gray-bg);
        position: relative;
                 &::before {
                content: '';
                position: absolute;
                top: -1px;
                 width: 0;
                height: 0;
                border-style: solid;
                border-width: 2rem 1.8rem 0 1.8rem;
                border-color: #111111 transparent transparent transparent;
                transform: rotate(0deg);
            }
        h2 {
            font-size: clamp(1.8rem, 3vw, 2.4rem);
            line-height: 3rem;
            color: var(--black);
            font-family: var(--secondary-font);
        }
    }
}

.testimonial {
    padding-block: 12rem;
    background: linear-gradient(180deg, #ffffff, #f8f6f3);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../images/logo-leaf2-free-img.png");
        background-repeat: no-repeat;
        background-size: 37% auto;
        background-position: top left;
        opacity: 0.1;
    }
     .section-heading {
        position: relative;
        z-index: 2;
    }
    .testimonial-wrapper {
        text-align: center;
        .testimonial-block {
            margin-inline: 1rem;
        }
        .testimonial-block:not(.center-card) {
            padding-block: 5rem ;
            padding-inline: 4.5rem;
            margin-block-start: 10rem;
            background-color: var(--white);
            box-shadow: 0 0 10px #b0b4b72b;
            ul {
                display: flex;
                justify-content: center;
                gap: 0.2rem;
                align-items: center;
                 i {
                    font-size: 1.4rem;
                    color: var(--gloden);
                 }
            }
            p {
                margin-block: 2rem;
            }
            .user-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                .user-details {
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                    font-weight: 400;
                    color: var(--black);
                }
            }
        }
        .testimonial-block.center-card {
            position: relative;
            padding: 4.5rem;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 0 10px #b0b4b72b;
                &::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background-image: url("../images/testimonial-center-card.jpg");
                    background-repeat: no-repeat;   
                    background-size: cover;
                    background-position: center;
                    z-index: 0;
                }
                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background-color:var(--black);
                    z-index: 0;
                    opacity: 0.5;  transition: 0.3s all ease;
                }
                &:hover {
                    &::after {
                        opacity: 0.7;
                    }
                }
           .content {
            position: relative;
            z-index: 2;
                h2 {
                    font-size: clamp(2rem, 3vw, 3.4rem);
                    line-height: 4.4rem;
                    font-weight: 700;
                    font-family: var(--secondary-font);
                    color: var(--white);
                    margin-block-end: 1.8rem;
                }
                p {
                    color: var(--white);
                }
                a.main-btn {
                    margin-block-start: 10rem;
                    margin-block-end: 1.2rem;
                }
           }
        }
    }
}
.brand {
    padding-block-end: 4rem;
    background-color: var(--gray-bg);
    .brand-wrapper {
        h2 {
            font-size: clamp(1.8rem, 2vw, 2rem);
            line-height: 2.4rem;
            font-weight: 700;
            font-family: var(--secondary-font);
            color: var(--black);
            text-transform: capitalize;
            white-space: nowrap;
        }
        ul {
            li:not(:last-child) {
                margin-inline: 40px;
            }
        }
    }
}

footer {
    background-color: var(--black);
    .top-footer {
        padding-block: 7.5rem;
        border-bottom: 1px solid #7d7d7d45;
        .footer-block {
            .footer-logo{
                margin-block-end: 2.8rem;
            }
            address {
                color: var(--white);
                font-size: 1.6rem;
                line-height: 2.6rem;
                font-weight: 700;
                font-style: italic;
            }
            h2 {
                font-size: 2.2rem;
                line-height: 3.3rem;
                font-weight: 600;
                color: var(--white);
                margin-block-end: 1.6rem;
                font-family: var(--secondary-font);
                text-transform: capitalize;
            }
            ul {
                li {
                    margin-block-end: 0.5rem;
                    a {
                        font-size: 1.6rem;
                        line-height: 2.6rem;
                        color: var(--gray-bg);
                        opacity: 0.5;
                        text-transform: capitalize;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .bottom-footer {
        padding-block: 3rem;
        p {
            color: var(--white);
        }         
        ul.footer-social {
            li {
                a {
                    display: inline-block;
                    i  {
                        color: var(--white);
                        font-size: 1.6rem;
                        transition: 0.3s all ease;
                    }
                    &:hover {
                        i {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
        
    }
}

/* ABOUT US CSS */
header.tr-header {
    .navbar {
        background: transparent !important;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 0;
    }
} 
.hero-section {
    background-color: var(--gray-bg);
    display: grid;
    place-content: center;
    padding-block:15rem 12rem;
    /* position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0; */
    h1 {
        font-size: clamp(2.5rem, 5vw, 5.2rem);
        line-height: 7.2rem;
        font-weight: 700;
        font-family: var(--secondary-font);
    }
}
.top-image {
    img.img-fluid {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-8.1rem, -50%);
    }
}
.image-wth-text {
    position: relative;
    padding-block: 12rem;
    .content {
        h2 {
            font-size: clamp(1.8rem,3vw, 3.4rem);
            line-height: 4.4rem;
            font-weight: 700;
            font-family: var(--secondary-font);
            color: var(--black);
            margin-block-end: 1rem;
        }
    }
}
.achievement {
    padding-block: 4rem;
    background-color: var(--black);
    h3 {
        font-size: clamp(1.8rem, 2vw, 2rem);
        line-height: 2.4rem;
        font-weight: 700;
        font-family: var(--secondary-font);
        color: var(--white);
    }
    .achievement-block {
        text-align: center;
        .number {
            font-size: clamp(2rem, 5vw, 4.6rem);
            line-height: 4.6rem;
            font-weight: 600;
            color: var(--white);
            display: inline-block;
            span {
                color: var(--white);
            }
        }
        p {
            font-size: clamp(1.6rem, 2vw, 2rem);
            line-height: 4.8rem;
            color: var(--white);

        }
    }
}

.certified-products {
    padding-block: 18rem 14rem ;
    .certified-products-slider-wrapper {
        padding: 0 4rem 4rem;
        background-color: var(--gray-bg);
        .certified-products-slider {
            transform: translateY(-8rem);
            img {
                border-radius: 0.8rem;
            }
        }
        .rating {
            margin-block-end: 2rem;
            li {
                i {
                    color: var(--gloden);
                    font-size: 1.4rem;
                }
            }
        }
        .user-info {
            margin-block-start: 2rem;
            span {
                font-size: 1.6rem;
                color: var(--black);
            }
        }
    }
    .certified-products-content {
        padding-inline-start: 10rem;
    }
    .content {
        h3 {
            font-size: clamp(1.8rem, 2vw, 2.4rem);
            line-height: 3.2rem;
            font-weight: 700;
            font-family: var(--secondary-font);
            margin-block-end: 1.6rem;
            color: var(--black);
        }
    }
    h2 {
        font-size: clamp(2rem, 4vw, 3.4rem);
        line-height: 4.4rem;
        font-weight: 700;
        font-family: var(--secondary-font);
        margin-block-end: 1rem;
        color: var(--black);
    }
     .leaf-img {
        margin-block-end :1.6rem;
    }
    ul.certified-products-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-block-end: 3.8rem;
        li {
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 400;
            color: var(--black);
            i {
                color: var(--primary-color);
                margin-right: 1rem;
                width: 1.6rem;

            }
        }
    }
}